body {
    font-family: "Roboto", sans-serif;
background-color: #e08767;
}

nav{
    background-color: #dcdcdc;
    padding: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
    display: block;
    background-color: #dcdcdc ;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

h1 {text-align: center;}
